<section class="main">
            <div class="side-bar">
                <div class="blue">
                    <div class="official">
                        <img src="../assets/svg/User.svg" alt="" class="official-photo">
                        <div class="name-function">
                            {{#each official}}
                            <strong class="name">{{this.name}}</strong>
                            {{/each}}
                        </div>
                    </div>
                    <div class="nav">
                        <a href="/home">
                            <div class="home list" id="home" onclick="select(this.id)">
                                <img src="../assets/svg/home.svg" alt="">
                                <p>Home</p>
                            </div>
                        </a>

                        <div class="auxiliary list" id="auxiliary" onclick="select(this.id)">
                            <div class="auxiliary-name">
                                <img src="../assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                                <p>Cadastrar Auxiliares</p>
                                <img src="../assets/svg/seta.svg" alt="" id="arrow">
                            </div>
                        </div>

                        <div class="auxiliary list" id="auxiliaryy" onclick="closeNav()">
                            <div class="auxiliary-name">
                                <img src="../assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                                <p>Cadastrar Auxiliares</p>
                                <img src="../assets/svg/seta-baixo.svg" alt="" id="arrow2">
                            </div>

                            <div class="auxiliary-nav" id="auxiliary-nav">
                                <a href="/register/products"><p>Produtos</p></a>
                                <a href="/register/services"><p>Serviços</p></a>
                                <a href="/register/nouns"><p>Acomodações</p></a>
                            </div>
                        </div>

                        <a href="/guests">
                            <div class="guests list" id="guests" onclick="select(this.id)">
                                <img src="../assets/svg/cadastrar-h.svg" alt="">
                                <p>Cadastrar Hóspedes</p>
                            </div>
                        </a>

                        <a href="/reserve">
                            <div class="host list" id="host" onclick="select(this.id)">
                                <img src="../assets/svg/cama.svg" alt="">
                                <p>Reservar/Hospedar</p>
                            </div>
                        </a>
                        
                        <a href="/stocks">
                            <div class="stocks list" id="stocks" onclick="select(this.id)">
                                <img src="../assets/svg/caixa.svg" alt="">
                                <p>Registrar Estoque</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mainn">
                <div class="semi-red">
                    <div class="welcome-img">
                        <p>Seja bem-vindo(a) ao Gwesty:</p>
                        <img src="../assets/svg/logo.svg" alt="">
                    </div>

                    <a href="/">
                        <div class="logout">
                            <p>Sair</p>
                            <img src="../assets/svg/sair.svg" alt="">
                        </div>
                    </a>
                </div>

                <div class="content">
                    <div class="header">
                        <img src="../assets/svg/camaBlue.svg" alt="">
                        <h2>Reservar/Hospedar</h2>
                    </div>

                    <div class="box-content">
                        <a href="/reserve/include-reserve"><button type="button" class="content-button">Incluir</button></a>

                        <div class="table">
                            <div class="table1">
                                <h4>Código</h4>
                                {{#each reserve}}
                                <p class="dark-line">{{ this.id }}</p>
                                {{/each}}
                            </div>

                            <div class="table2">
                                <h4>Hóspedes</h4>
                                <div class="table-data">
                                {{#each reserve}}
                                <p class="dark-line">{{ this.client }}</p>
                                {{/each}}
                                </div>
                            </div>

                            <div class="table3">
                                <h4>Acomodação</h4>
                                {{#each reserve}}
                                <p class="dark-line">{{ this.noun }}</p>
                                {{/each}}
                            </div>

                            <div class="table4">
                                <h4>Entrada Prevista</h4>
                                {{#each reserve}}
                                <p class="dark-line" id="date">{{ this.join_provided }}</p>
                                {{/each}}
                            </div>

                            <div class="table5">
                                <h4>Entrada Efetiva</h4>
                                {{#each reserve}}
                                <p class="dark-line" id="date">{{ this.join_effective }}</p>
                                {{/each}}
                            </div>

                            <div class="table6">
                                <h4>Valor</h4>
                                {{#each reserve}}
                                <p class="dark-line">{{ this.pay_value }}</p>
                                {{/each}}
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>