<section class="main">
            <div class="side-bar">
                <div class="blue">
                    <div class="official">
                        <img src="../assets/svg/User.svg" alt="" class="official-photo">
                        <div class="name-function">
                            {{#each official}}
                            <strong class="name">{{this.name}}</strong>
                            {{/each}}
                        </div>
                    </div>
                    <div class="nav">
                        <a href="/home">
                            <div class="home list" id="home" onclick="select(this.id)">
                                <img src="../assets/svg/home.svg" alt="">
                                <p>Home</p>
                            </div>
                        </a>

                        <div class="auxiliary list" id="auxiliary" onclick="select(this.id)">
                            <div class="auxiliary-name">
                                <img src="../assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                                <p>Cadastrar Auxiliares</p>
                                <img src="../assets/svg/seta.svg" alt="" id="arrow">
                            </div>
                        </div>

                        <div class="auxiliary list" id="auxiliaryy" onclick="closeNav()">
                            <div class="auxiliary-name">
                                <img src="../assets/svg/cadastrar.svg" alt="" class="auxiliary-photo">
                                <p>Cadastrar Auxiliares</p>
                                <img src="../assets/svg/seta-baixo.svg" alt="" id="arrow2">
                            </div>

                            <div class="auxiliary-nav" id="auxiliary-nav">
                                <a href="/products"><p>Produtos</p></a>
                                <a href="/services"><p>Serviços</p></a>
                                <a href="/noun"><p>Acomodações</p></a>
                            </div>
                        </div>

                        <a href="/guests">
                            <div class="guests list" id="guests" onclick="select(this.id)">
                                <img src="../assets/svg/cadastrar-h.svg" alt="">
                                <p>Cadastrar Hóspedes</p>
                            </div>
                        </a>

                        <a href="/reserve">
                            <div class="host list" id="host" onclick="select(this.id)">
                                <img src="../assets/svg/cama.svg" alt="">
                                <p>Reservar/Hospedar</p>
                            </div>
                        </a>
                        
                        <a href="/stocks">
                            <div class="stocks list" id="stocks" onclick="select(this.id)">
                                <img src="../assets/svg/caixa.svg" alt="">
                                <p>Registrar Estoque</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mainn">
                <div class="semi-red">
                    <div class="welcome-img">
                        <p>Seja bem-vindo(a) ao Gwesty:</p>
                        <img src="../assets/svg/logo.svg" alt="">
                    </div>

                    <a href="/">
                        <div class="logout">
                            <p>Sair</p>
                            <img src="../assets/svg/sair.svg" alt="">
                        </div>
                    </a>
                </div>

                <div class="content">
                    <div class="headerr">
                        <img src="../assets/svg/cadastrarBlue.svg" alt="">
                        <h2>Cadastro de Serviços</h2>
                    </div>

                    <div class="box-content">
                        <a href="/services/include-service"><button type="button" class="content-button">Incluir</button></a>

                        <div class="table">
                            <div class="table1">
                                <h4>Código</h4>
                                {{#each services}}
                                <p class="dark-line">{{this.id}}</p>
                                {{/each}}
                            </div>

                            <div class="table2">
                                <h4>Descrição</h4>
                                <div class="table-data">
                                {{#each services}}
                                <p class="dark-line">{{this.description}}</p>
                                {{/each}}
                                </div>
                            </div>

                            <div class="table3">
                                <h4>Quantidade</h4>
                                {{#each services}}
                                <p class="dark-line">{{this.quantity}}</p>
                                {{/each}}
                            </div>

                            <div class="table5">
                                <h4>Valor</h4>
                                {{#each services}}
                                <p class="dark-line">{{this.valor}}</p>
                                {{/each}}
                            </div>

                            {{!-- <div class="table6">
                                <h4>Confirmado</h4>
                                <p class="clear-line">02/12/2023</p>
                                <p class="dark-line">02/12/2023</p>
                                <p class="clear-line">Não</p>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
</section>